*{
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

/*nav*/
.menunav{
    overflow:hidden;
    transition: background-color .5s;
    font-family: 'PT Sans', sans-serif;
}

.navigation {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    margin:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
}

.menulist {
  width:200px;
  height: 300px;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:9px;
    padding-bottom:0px;
    text-decoration: none;
    list-style:none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;  
    text-align:center;
    color: #F08080;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px; 
    position: absolute;
    text-decoration:none;
    top: 10px;
    font-size: 36px !important;
    margin-left: 1200px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    trainsition:background-position .3s;
}
#main { 
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}

/*fin nav*/


.portada{
  width: 1000px
  margin-top: 80px;
  color:  #696969;
}
.portass{
  margin-top: 0;
}

#working{
  margin-left: 70px;
  margin-top: 50px;
}

.mimi{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  margin-top: 60px;
}
.text{
  font-size: 30px;
}
/*estilos imagenes circulares*/

.conti{
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 0 auto;
  top: 20px;
  margin-left: 50px;
}
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  font-family: 'Amatic SC', cursive;
  position: absolute;
  z-index: -1;
  display: block;
  height: 50%;
  top: 28%;
  right: 0;
  padding-right: 5px;
}
.div-img:hover .img {
  transform: translate(-90px, 0px);
  -ms-transform: translate(-90px, 0px);
  -moz-transform: translate(-90px, 0px);
  -webkit-transform: translate(-90px, 0px);
  -o-transform: translate(-90px, 0px);
}

.perfil{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  margin-left: 100px;
  margin-top: 100px;
}
.ese{
  width: 100px;
}
/*sobre m i*/

#sobremi{
   margin: 0;
   margin-top: 300px;
   font-size: 25px;
   background-color: #FFA07A;
   width: 100%;
   height: 500px;


}
#parrafo{
  margin-top: 70px;
}
.yio{
  font-family: 'Rochester', cursive;
  margin-left: 200px;

}
.yo{
   margin-left: 150px;
   font-family: 'PT Sans', sans-serif;
   font-size: 20px;
   margin-top: 10px;

}

.otro{
  margin-left: 200px;
}
#int{
  margin-left: 30px;
}

 /*herramienta*/

#herramientas{
  margin-left: 50px;
  margin-top: 50px;
}

.ramienta{
  margin-bottom: 60px;
}
.disis{
  height: 70px;
}

.dis{
   height: 100px;
}
.mat{
   height: 80px;
}
#program{
  margin-top: 50px;
  margin-bottom: 30px;
  font-weigth: 20px;
}
.dos{
  margin-top: 30px;
}

.bonus{
 
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
 } 

.pum{
  color: black;
  font-size: 80px;
  margin-top: 225px;
}
 
 /*portafolio*/

.folio{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}


/*pie de pagina*/
#linke{
  width: 70px;
}

#contacto{
   margin-top: 80px;
   margin-bottom: 50px;
}

.fa{
   font-size: 100px;
   color: #FFA07A;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #808080;
  color: white;
  font-family: 'Amatic SC', cursive;

}