*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.portada{
  width: 1000px
  margin-top: 50px;
  color:  #696969;

}
.portass{
  margin-top: 20px;
}

.mimi{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;

}

/*estilos imagenes circulares*/

.conti{
  width: 300px;
  height: 300px;
  position: absolute;
  margin: 0 auto;
  top: 20px;
  margin-left: 50px;
}
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  font-family: 'Leckerli One', cursive;
  position: absolute;
  z-index: -1;
  display: block;
  height: 50%;
  top: 50%;
  right: 0;
  padding-right: 5px;
}
.div-img:hover .img {
  transform: translate(-90px, 0px);
  -ms-transform: translate(-90px, 0px);
  -moz-transform: translate(-90px, 0px);
  -webkit-transform: translate(-90px, 0px);
  -o-transform: translate(-90px, 0px);
}

.perfil{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  margin-left: 20px;
  margin-top: 20px;
}


/*sobre m i*/

#sobremi{
   margin: 0;
   margin-top: 300px;
   font-size: 25px;
   background-color: #FFA07A;
   width: 100%;
   height: 500px;
}
.yio{
  font-family: 'Rochester', cursive;
  margin-left: 200px;

}
.yo{
   margin-left: 150px;
}

.dis{
   width: 300px;
   margin-left: 20px;
}