*{
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
}

.collapse{
  font-size: 20px;
}

.navbar-brand{
  font-family: 'Rochester', cursive;
  font-size: 30px;
}
.portada{
  width: 1000px
  margin-top: 80px;
  color:  #696969;
}
.portass{
  margin-top: 0;
}

#working{
  margin-left: 70px;
  margin-top: 50px;
}

.mimi{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  margin-top: 60px;
}
.text{
  font-size: 30px;
}
/*estilos imagenes circulares*/

.conti{
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 0 auto;
  top: 20px;
  margin-left: 50px;
}
.div-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.div-img .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-img .text {
  font-family: 'Amatic SC', cursive;
  position: absolute;
  z-index: -1;
  display: block;
  height: 50%;
  top: 28%;
  right: 0;
  padding-right: 5px;
}
.div-img:hover .img {
  transform: translate(-90px, 0px);
  -ms-transform: translate(-90px, 0px);
  -moz-transform: translate(-90px, 0px);
  -webkit-transform: translate(-90px, 0px);
  -o-transform: translate(-90px, 0px);
}

.perfil{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  margin-left: 100px;
  margin-top: 100px;
}
.ese{
  width: 100px;
}
/*sobre m i*/

#sobremi{
   margin: 0;
   margin-top: 300px;
   font-size: 25px;
   background-color: #FFA07A;
   width: 100%;
   height: 500px;
}
#parrafo{
  margin-top: 70px;
}
.yio{
  font-family: 'Rochester', cursive;
  margin-left: 200px;

}
.yo{
   margin-left: 150px;
   font-family: 'Amatic SC', cursive;
   margin-top: 10px;

}

.otro{
  margin-left: 200px;
}
#int{
  margin-left: 30px;
}

 /*herramienta*/

#herramientas{
  margin-left: 50px;
  margin-top: 50px;
}

.ramienta{
  margin-bottom: 60px;
}
.disis{
  height: 70px;
}

.dis{
   height: 100px;
}
#program{
  margin-top: 50px;
  margin-bottom: 30px;
}


.bonus{
  background-image: url(../img/escritorio.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
 } 

.pum{
  color: black;
  font-size: 80px;
  margin-top: 225px;
}
 
 /*portafolio*/

.folio{
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}


/*pie de pagina*/
#linke{
  width: 70px;
}

#contacto{
   margin-top: 30px;
   margin-bottom: 50px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #808080;
  color: white;
  font-family: 'Amatic SC', cursive;

}